body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 122, 56, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.o-pokeball {
  --size: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: calc(var(--size) / 25) solid black;
  position: relative;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  margin: 10px auto;
}

.o-pokeball::before {
  content: "";
  width: var(--size);
  height: calc(var(--size) / 2 - var(--size) / 25 / 2);
  border-bottom: calc(var(--size) / 25) solid black;
  border-radius: calc(var(--size) / 2) calc(var(--size) / 2) 0 0;
  background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.o-pokeball::after {
  content: "";
  width: calc(var(--size) / 5);
  height: calc(var(--size) / 5);
  background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 calc(var(--size) / 50) black,
    0 0 0 calc(var(--size) / 25) #ddd, 0 0 0 calc(var(--size) / 14) black,
    0 0 calc(var(--size) / 10) calc(var(--size) / 17) rgba(0, 0, 0, 0.4);
}

.u-bounce {
  animation: bounce 1000ms infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
